bqplot
ipycanvas>=0.9.1
ipyevents>=2.0.1
ipyleaflet
ipympl>=0.8.2
ipywidgets>=8.0.0,<9
jupyterlab~=3.4.7
jupyterlab-drawio
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-es-ES
jupyterlab-fasta>=3,<4
jupyterlab-geojson>=3,<4
jupyterlab-tour
jupyterlab_miami_nights
jupyterlite==0.1.0b13
jupyterlite-xeus-sqlite==0.2.1
plotly>=5,<6
theme-darcula
jupyterlab-sidecar
plotly>=4.14.3
jupyterlab-system-monitor>=0.7.0
ipylab>=0.4.1
jupyter-fs>=0.3.1final0
ipyregulartable>=0.2.0
jupyterlab_templates>=0.3.0
elyra>=2.0.0
